<script src="{{ 'swiper-hero.js' | asset_url }}" defer="defer"></script>
{{ "hero-banner.css" | asset_url | stylesheet_tag }}



{% for block in section.blocks %}
    <div class="hero">
        <div class="swiper-hero">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__content hero__content">
                        <div class="container hero__content-container">
                            <div class="hero__content-text">
                                <h2 class="hero-title">{{block.settings.hero_title}}</h2>
                                <h5 class="hero-descr">
                                    {{block.settings.hero_descr}}
                                </h5>
                                <a class="hero__btn" href="{{block.settings.link_btn}}">link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% style %}

    .hero__content {
        background-image: url("{{block.settings.image_1 | img_url:"master"}}");
    }

    .hero__content-container {
        display: flex;
        justify-content: {{block.settings.text_position}};
    }

    .hero-title {
        color: {{block.settings.color_title}};
    }


    .hero-descr {
        color: {{block.settings.color_descr}};
    }


    .hero__btn {
        background-color: {{block.settings.color_btn}};
        border-radius: {{block.settings.btn_radius}}%;
        color: {{block.settings.color_descr}};
        border-color:{{block.settings.btn_border_color}};
        border-width:{{block.settings.btn_border_width}}px;
    }
    



    {% endstyle %}
{% endfor %}

{% schema %}


{
 "name": "Hero Banner",
 "max_blocks": 2,
 "blocks": [
    {
        "name": "Hero Banner",
        "type": "hero",
        "settings": [
            {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"        
                },

            {
             "type": "select",
             "id": "text_position",
             "label": "Text Position",
             "options": [
                        {
                            "value": "flex-start",
                            "label": "Left"
                        }, 
                        
                        {
                            "value": "flex-end",
                            "label": "Right"
                        }, 
                        
                        {
                            "value": "center",
                            "label": "Center"
                        }  

                    ],
                    "default": "flex-start"
                },
                
            {
                "type": "text",
                "id": "hero_title",
                "label": "Hero Title",
                "default": "Title"
                }, 
            
            {
                "type": "color",
                "id": "color_title",
                "label": "Font Color",
                "default": "#eeeeee"
                },
            
            {
                "type": "textarea",
                "id": "hero_descr",
                "label": "Text Description",
                "default": "Welcome to my shop!"
                }, 
                
            {
                "type": "color",
                "id": "color_descr",
                "label": "Color Description",
                "default": "#eeeeee"
                }, 

            {
                "type": "range",
                "id": "btn_radius",
                "label": "Button Radius",
                "default": 6,
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "%"
                },

                {
                    "type": "color",
                    "id": "btn_border_color",
                    "label": "Color Border",
                    "default": "transparent"
                    },

                    {
                        "type": "range",
                        "id": "btn_border_width",
                        "label": "Button Border Width",
                        "default": 0,
                        "min": 0,
                        "max": 5,
                        "step": 1,
                        "unit": "px"
                        },
                
            {
                "type": "color",
                "id": "color_btn",
                "label": "Color Button",
                "default": "#334FB4"
                },

            {
                "type": "url",
                "id": "link_btn",
                "label": "link Button"
                }

                ]
            }
    ]

}
{% endschema %}