<script src="{{ 'swiper-hero.js' | asset_url }}" defer="defer"></script>
{{ "hero-banner.css" | asset_url | stylesheet_tag }}


<div class="hero">
    <div class="swiper-hero">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% if block.settings.image_right != blank or block.settings.image_left != blank%}
                    <div class="swiper-slide">
                        {% if block.settings.image_left != blank %}
                                <div class="swiper-slider__section">
                                    <a class="swiper-slider__link" href="{{block.settings.link_img_left}}">
                                        <div class="hero__content hero__content-left--{{block.id}}">
                                            <div class="container hero__content-container hero__content-container--{{block.id}}">
                                                {% if block.settings.text-bottom %}
                                                    <div class="hero__content-text hero__content-text--{{block.id}}">
                                                        {% if block.settings.hero_title_left != blank%}
                                                            <h2 class="hero-title hero-title--{{block.id}}">{{block.settings.hero_title_left}}</h2>
                                                        {% endif %}
                                                        {% if block.settings.hero_descr_left != blank%}
                                                            <h5 class="hero-descr hero-descr--{{block.id}}">{{block.settings.hero_descr_left}}</h5>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div> 
                                        </div>
                                    </a>
                                    <div class="hero__btn-content">
                                        {% if block.settings.link_btn != blank and block.settings.text-bottom %}
                                            <a class="hero__btn hero__btn-position hero__btn--{{block.id}}" href="{{block.settings.link_btn}}">link</a>
                                        {% endif %}
                                    </div>
                                    {% unless block.settings.text-bottom %}
                                        <div class="container hero__footer"> 
                                            <div class="hero__footer-text">
                                                {% if block.settings.hero_title_left != blank%}
                                                    <h2 class="hero__footer-title hero-title--{{block.id}}">{{block.settings.hero_title_left}}</h2>
                                                {% endif %}
                                                {% if block.settings.hero_descr_left != blank%}
                                                    <h5 class="hero__footer-descr hero-descr--{{block.id}}">{{block.settings.hero_descr_left}}</h5>
                                                {% endif %}
                                            </div>
                                            {% if block.settings.link_btn != blank%}
                                                <a class="hero__btn hero__btn--{{block.id}}" href="{{block.settings.link_btn}}">link</a>
                                            {% endif %}
                                        </div>
                                    {% endunless %}
                                </div>
                        {% endif %}
                        {% if block.settings.image_right != blank %}
                            <div class="swiper-slider__section">
                                <a class="swiper-slider__link" href="{{block.settings.link_img_right}}">
                                    <div class="hero__content hero__content-right--{{block.id}}">
                                        <div class="container hero__content-container hero__content-container--{{block.id}}">
                                            {% if block.settings.text-bottom %}
                                                <div class="hero__content-text hero__content-text--{{block.id}}">
                                                    {% if block.settings.hero_title_right != blank%}
                                                        <h2 class="hero-title hero-title--{{block.id}}">{{block.settings.hero_title_right}}</h2>
                                                    {% endif %}
                                                    {% if block.settings.hero_descr_right != blank%}
                                                        <h5 class="hero-descr hero-descr--{{block.id}}">{{block.settings.hero_descr_right}}</h5>
                                                    {% endif %}
                                                   
                                                </div>
                                            {% endif %}
                                        </div> 
                                    </div>
                                </a>
                                <div class="hero__btn-content">
                                    {% if block.settings.link_btn != blank and block.settings.text-bottom%}
                                    <a class="hero__btn hero__btn-position hero__btn--{{block.id}}" href="{{block.settings.link_btn}}">link</a>
                                    {% endif %}
                                </div>
                                {% unless block.settings.text-bottom %}
                                    <div class="container hero__footer"> 
                                        <div class="hero__footer-text">
                                            {% if block.settings.hero_title_right != blank%}
                                                <h2 class="hero__footer-title hero-title--{{block.id}}">{{block.settings.hero_title_right}}</h2>
                                            {% endif %}
                                            {% if block.settings.hero_descr_right != blank%}
                                                <h5 class="hero__footer-descr hero-descr--{{block.id}}">{{block.settings.hero_descr_right}}</h5>
                                            {% endif %}
                                        </div>
                                        {% if block.settings.link_btn != blank%}
                                            <a class="hero__btn hero__btn--{{block.id}}" href="{{block.settings.link_btn}}">link</a>
                                        {% endif %}
                                    </div>
                                {% endunless %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}  
            {% endfor %}
        </div>
        <div class="container slider-nav">
            <button class="hero__prev slider-nav__btn">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <button class="hero__next slider-nav__btn">
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</div>

{% for block in section.blocks %}
    {% style %}


        

         .swiper-slider__link {
            display: block;
         }

        .hero__content-left--{{block.id}} {
            background-image: url('{{block.settings.image_left | img_url:"1024x"}}'); 
        }

        .hero__content-right--{{block.id}} {
            background-image: url('{{block.settings.image_right | img_url:"1024x"}}'); 
        }

        .hero__content-container--{{block.id}} {
            display: flex;
            justify-content: {{block.settings.text_position}};    
        }

        .hero-title--{{block.id}} {
            color: {{block.settings.color_title}};
        }

        .hero-descr--{{block.id}} {
            color: {{block.settings.color_descr}};
        }

        .hero__btn--{{block.id}} {
            background-color: {{block.settings.color_btn}};
            border-radius: {{block.settings.btn_radius}}%;
            color: {{block.settings.color_descr}};
            border-color:{{block.settings.btn_border_color}};
            border-width:{{block.settings.btn_border_width}}px;
        }

        .slider-nav__btn {
            background-color: {{block.settings.color_btn}};
            color: {{block.settings.color_descr}};
            border-color:{{block.settings.btn_border_color}};
        }

        .hero__footer-text--{{block.id}}, .hero__footer-text-right--{{block.id}} {
            color: {{block.settings.color_title}};
        }

        .hero__footer-btn--{{block.id}}, .hero__footer-btn-right--{{block.id}} {
            background-color: {{block.settings.color_footer_btn}};
            color: {{block.settings.color_descr}};
        }
        
    {% endstyle %}
{% endfor %}
   
{% schema %}
{
    "name":"Carousel",
    "max_blocks":4,
    "blocks":[
       {
          "type":"hero",
          "name":"Slide",
          "settings":[
             {
                "type":"image_picker",
                "id":"image_left",
                "label":"Image Left"
             },
             {
                "type":"url",
                "id":"link_img_left",
                "label":"link Img Left"
             },
             {
                "type":"image_picker",
                "id":"image_right",
                "label":"Image Right"
             },
             {
                "type":"url",
                "id":"link_img_right",
                "label":"link Image Right"
             },
             {
                "type": "checkbox",
                "id": "text-bottom",
                "label": "Text on Image",
                "default": false
             },
             {
                "type":"select",
                "id":"text_position",
                "label":"Text Position",
                "options":[
                   {
                      "value":"flex-start",
                      "label":"Left"
                   },
                   {
                      "value":"flex-end",
                      "label":"Right"
                   },
                   {
                      "value":"center",
                      "label":"Center"
                   }
                ],
                "default":"flex-start"
             },
             {
                "type":"text",
                "id":"hero_title_left",
                "label":"Hero Title Left",
                "default":"Title Left"
             },

             {
                "type":"text",
                "id":"hero_title_right",
                "label":"Hero Title Right",
                "default":"Title Right"
             },
             {
                "type":"color",
                "id":"color_title",
                "label":"Font Color",
                "default":"#eeeeee"
             },
             {
                "type":"textarea",
                "id":"hero_descr_left",
                "label":"Text Description Left",
                "default":"Welcome to my shop!"
             },
             {
                "type":"textarea",
                "id":"hero_descr_right",
                "label":"Text Description Right",
                "default":"Welcome to my shop!"
             },
             {
                "type":"color",
                "id":"color_descr",
                "label":"Color Description",
                "default":"#eeeeee"
             },
             {
                "type":"range",
                "id":"btn_radius",
                "label":"Button Radius",
                "default":6,
                "min":0,
                "max":50,
                "step":1,
                "unit":"%"
             },
             {
                "type":"color",
                "id":"btn_border_color",
                "label":"Color Border",
                "default":"transparent"
             },
             {
                "type":"range",
                "id":"btn_border_width",
                "label":"Button Border Width",
                "default":0,
                "min":0,
                "max":5,
                "step":1,
                "unit":"px"
             },
             {
                "type":"color",
                "id":"color_btn",
                "label":"Color Button",
                "default":"#334FB4"
             },
             {
                "type":"url",
                "id":"link_btn",
                "label":"link Button"
             },
             {
                "type":"text",
                "id":"footer_title_left",
                "label":"Footer Title Left",
                "default":"Title Left"
             },
             {
                "type":"text",
                "id":"footer_title_right",
                "label":"Footer Title Right",
                "default":"Title Right"
             },
             {
                "type":"text",
                "id":"hero_btn_title",
                "label":"Footer Btn",
                "default":"Link"
             },
             {
                "type":"color",
                "id":"color_footer_btn",
                "label":"Color Button Footer",
                "default":"#334FB4"
             }
          ]
       }
    ]
 }
{% endschema %}