<script src="{{ 'swiper-hero.js' | asset_url }}" defer="defer"></script>
{{ "hero-banner.css" | asset_url | stylesheet_tag }}


<div class="hero">
    <div class="swiper-hero">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% if block.settings.image_1 != blank %}
                    <div class="swiper-slide">
                        <div class="hero__content hero__content--{{block.id}}">
                            <div class="container hero__content-container hero__content-container--{{block.id}}">
                                <div class="hero__content-text hero__content-text--{{block.id}}">
                                    {% if block.settings.hero_title != blank%}
                                        <h2 class="hero-title hero-title--{{block.id}}">{{block.settings.hero_title}}</h2>
                                    {% endif %}
                                    {% if block.settings.hero_descr != blank%}
                                        <h5 class="hero-descr hero---{{block.id}}">{{block.settings.hero_descr}}</h5>
                                    {% endif %}
                                    {% if block.settings.link_btn != blank%}
                                        <a class="hero__btn hero__btn--{{block.id}}" href="{{block.settings.link_btn}}">link</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}  
            {% endfor %}
        </div>
        <div class="container slider-nav">
            <button class="hero__prev slider-nav__btn">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <button class="hero__next slider-nav__btn">
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</div>

{% for block in section.blocks %}
    {% style %}
        .hero__content--{{block.id}} {
            background-image: url('{{block.settings.image_1 | img_url:"1024x"}}'); 
        }

        .hero__content-container--{{block.id}} {
            display: flex;
            justify-content: {{block.settings.text_position}};    
        }

        .hero-title--{{block.id}} {
            color: {{block.settings.color_title}};
        }

        .hero-descr--{{block.id}} {
            color: {{block.settings.color_descr}};
        }

        .hero__btn--{{block.id}} {
            background-color: {{block.settings.color_btn}};
            border-radius: {{block.settings.btn_radius}}%;
            color: {{block.settings.color_descr}};
            border-color:{{block.settings.btn_border_color}};
            border-width:{{block.settings.btn_border_width}}px;
        }

        .slider-nav__btn {
            background-color: {{block.settings.color_btn}};
            color: {{block.settings.color_descr}};
            border-color:{{block.settings.btn_border_color}};
        }
        
    {% endstyle %}
{% endfor %}
   
{% schema %}
{
    "name":"Carousel",
    "max_blocks":4,
    "blocks":[
       {
          "type":"hero",
          "name":"Slide",
          "settings":[
             {
                "type":"image_picker",
                "id":"image_1",
                "label":"Image One"
             },

             {
                "type":"select",
                "id":"text_position",
                "label":"Text Position",
                "options":[
                   {
                      "value":"flex-start",
                      "label":"Left"
                   },

                   {
                      "value":"flex-end",
                      "label":"Right"
                   },

                   {
                      "value":"center",
                      "label":"Center"
                   }
                ],
                "default":"flex-start"
             },

             {
                "type":"text",
                "id":"hero_title",
                "label":"Hero Title",
                "default":"Title"
             },

             {
                "type":"color",
                "id":"color_title",
                "label":"Font Color",
                "default":"#eeeeee"
             },

             {
                "type":"textarea",
                "id":"hero_descr",
                "label":"Text Description",
                "default":"Welcome to my shop!"
             },

             {
                "type":"color",
                "id":"color_descr",
                "label":"Color Description",
                "default":"#eeeeee"
             },

             {
                "type":"range",
                "id":"btn_radius",
                "label":"Button Radius",
                "default":6,
                "min":0,
                "max":50,
                "step":1,
                "unit":"%"
             },

             {
                "type":"color",
                "id":"btn_border_color",
                "label":"Color Border",
                "default":"transparent"
             },

             {
                "type":"range",
                "id":"btn_border_width",
                "label":"Button Border Width",
                "default":0,
                "min":0,
                "max":5,
                "step":1,
                "unit":"px"
             },

             {
                "type":"color",
                "id":"color_btn",
                "label":"Color Button",
                "default":"#334FB4"
             },

             {
                "type":"url",
                "id":"link_btn",
                "label":"link Button"
             }
          ]
       }
    ]
 }
{% endschema %}